<main class="mt-5">
    <div class="container">
        <div class="card mx-auto">
            <div class="card-header">
                <img class="card-img-top mx-auto m-2" src="/img/Mariposa.jpg" alt="Logo" style="width: 150px; height: 150px; display:block;">
                <h3 class="text-uppercase text-center p-4">CRUd con nodejs y mysql</h3>
            </div>
            <div class="card-body texte-center"></div>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur, ipsa eos. Enim ratione, molestias ex doloremque tempora amet. Minus aliquam inventore sequi temporibus architecto quisquam quos porro ea iusto nesciunt?
            </p>
            <a href="/add" class="btn btn-primary">crear una persona</a>
        </div>
    </div>
</main>